Support appending port to ipv6 according to standard

From `lightning-cli help`     
Connect to {id} at {host} (which can end in ':port' if not default)        
This can be confusing for ipv6 addresses because of colons and double colons in the address itself, so the standard[1] is to use [ipv6host]:portnumber (WITH the square brackets).    
https://serverfault.com/questions/205793/how-can-one-distinguish-the-host-and-the-port-in-an-ipv6-url
Right now, separating the host part and the port part as arguments works, but the [host]:port doesn't work.

lnc0 connect 0303c2306e963e79c5b5951dc70f207b48261a2c7a0fd771d090649bbf33f7ba22 [2405:204:6095:33c0:3ded:cfa1:f769:4de6]:10001
doesn't work

lnc0 connect 0303c2306e963e79c5b5951dc70f207b48261a2c7a0fd771d090649bbf33f7ba22 2405:204:6095:33c0:3ded:cfa1:f769:4de6 10001
this works though

[::1]:10001 doesn't work
::1 10001 works


[1] RFC 3986, section 3.2.2: Host - http://www.ietf.org/rfc/rfc3986.txt

Looks like this is a bug in `lightning-cli.c`: it sees square brackets so it think's it an array instead of a string.

workaround: 

```
lnc0 connect 0303c2306e963e79c5b5951dc70f207b48261a2c7a0fd771d090649bbf33f7ba22 '"[2405:204:6095:33c0:3ded:cfa1:f769:4de6]:10001"'
```